.header {
  display: flex;
  justify-content: space-between;
  height: 9vh;

  a {
    text-decoration: none;

    &:active,
    &:visited {
      color: white;
    }
  }

  h1 {
    font-size: 1.65rem;
    font-weight: bold;

    img {
      height: 1.5rem;
      margin-right: 0.4rem;
    }
  }

  button {
    font-size: 1.1rem;

    i {
      margin-left: 0.3rem;
    }
  }
}
