.title {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.65rem;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;

  margin-bottom: 2rem;

  button {
    background-color: orange;
    margin-left: 0.6rem;
    font-size: 1.2rem;

    i {
      transform: translateY(-10%);
    }
  }
}
