/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url(../src/assets/images/bg-dragons.jpg);
  background-position: center;
  object-fit: cover;
}

app-dragon-create,
app-home {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;

  &.active,
  &.visited {
    color: #fff;
  }
}
